.home{
  display: flex;
  flex-direction: row;
  justify-content: center;

  .mainContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    position: relative;
    left: 0;
    top: 0;

    .post{
      background: rgb(240, 224, 224);
      margin: 0 auto;
      margin-top: 30px;
      width: 50%;
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 10px;

      .userHeader{
        display: flex;
        font-size: 20px;

        .fullName {
          font-weight: bold;
          margin-right: 10px;
        }

        .username{
          color: gray;
        }
      }
      
      .contents{
        text-align: left;
      }

      .bottomBar{
        .likeButton-liked{
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
        .likeButton-unliked{
          background-color: white;
          border: #4CAF50 1px solid;
          color: black;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
      }
      }
    }
  }

  .rightSideContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 auto;
    position: fixed;
    right: 0;
    top: 0;

    .hashtags{
      .hashtag {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid #e6e6e6;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: #f5f5f5;
        }
      }
    }
  }

  .postWriter {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 auto;
  
    position: fixed;
    left: 0;
    top: 0;
  
    .form {
      display: flex;
      flex-direction: column;
    }
  }
}