.register {
  height: 100vh;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;

  .registerContainer {
    background-color: white;
    border-radius: 10px;  
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    width: 400px;

    position: absolute;
    top: 20%;

    .header {
      color: #c62828;
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    
  
    .links {
      display: flex;
      justify-content: center;
      margin-bottom: 1.5rem;
    
      .signInButton {
        background-color: white;
        border: none;
        border-radius: 5px;
        color: #8a7575;
        cursor: pointer;
        font-size: 1rem;
        margin-right: 1rem;
        padding: 0.5rem 1rem;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: #fdebeb;
        }
      }

        .signUpButton {
          background-color: #c62828;
          border: none;
          border-radius: 5px;
          color: white;
          cursor: pointer;
          font-size: 1rem;
          margin-right: 1rem;
          padding: 0.5rem 1rem;
          transition: all 0.2s ease-in-out;
  
          &:hover {
            background-color: #9b2020;
          }
        }
    }
  
  
  }

  .form {
    display: flex;
    flex-direction: column;
    animation: myAnim 0.5s cubic-bezier(0.85, 0, 0.15, 1) 0s 1 normal forwards;
  
    input {
      border: 1px solid #bdbdbd;
      border-radius: 5px;
      font-size: 1rem;
      margin-bottom: 1rem;
      padding: 0.5rem;
    }
  
    input[type="submit"] {
      background-color: #c62828;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      font-size: 1rem;
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      transition: all 0.2s ease-in-out;
  
      &:hover {
        background-color: #9b2020;
      }
    }
  
    button {
      background-color: #c20000;
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
      padding: 12px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
  
      &:hover {
        background-color: #a30000;
      }
    }
  }
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
