.home{
  display: flex;
  flex-direction: row;
  justify-content: center;

  .leftSideContainer{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    margin: 0 auto;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid #e6e6e6;

    h1 {
      text-align: left;
      padding-left: 40px;
    }

    .userInfo {
      position: absolute;
      bottom: 10px;
      width: 100%;
      display: flex;
      flex-direction: row;
      
      

      h1 {
        font-size: 20px;
        margin-right: 10px;

      }
      p {
        color: gray;
      }
    }

    .tweetButton {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 100%;
      padding: 10px;
      border-bottom: 1px solid #e6e6e6;
      border-right: 1px solid #e6e6e6;
      width: 80%;
      border-radius: 20px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: #f5f5f5;
      }
    }
  }

  .mainContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    position: relative;
    left: 0;
    top: 0;

    .post {
      margin: 20px;
      padding: 40px;

      .postHeader{
        display: flex;
        flex-direction:column;
        align-items: flex-start;
        margin-top: 20px;
        margin-bottom: 20px;

        p {
          font-size: 20px;
          font-weight:bold;
          margin: 0;
        }
        a {
          color: gray;
          align-self:center;
          font-size: 15px;
          margin: 2px;
          align-self:flex-start;
        }
      }

      .contents{
        .content{
          margin: 10px;
          padding: 10px;
          border: 1px solid #e6e6e6;
          border-radius: 10px;
          text-align: left;
        }

        .date {
          color: gray;
          font-size: 15px;
          margin: 2px;
          text-align: left;
          
          
        }
      }

      .bottomBar{
        display: flex;
        margin-top: 10px;

        .material-symbols-outlined {
          user-select: none;
          scale: 1.2;
          color:#e6e6e6;
          margin: 5px;

          &:hover {
            color:rgb(230, 204, 204)
          }
        }

        .heartContainer {
          .material-symbols-outlined {
            color: rgb(202, 88, 88);
          }
        }

        .unlikedContainer {
          .material-symbols-outlined {
            color:#e6e6e6;

            &:hover {
              color:rgb(230, 204, 204)
            }
          }
        }

      }

      .comments{
        padding-top: 10px;
        margin-top: 20px;
        border-top: 1px solid #e6e6e6;
        .comment {
          margin: 10px;
          padding: 10px;
          border: 1px solid #e6e6e6;
          border-radius: 10px;
          
          text-align: left;

          .commentHeader {
            display: flex;
            .fullName {
              font-weight:bold;
              
            }
            .username { 
              font-weight: 300;
              margin-left: 5px;
              color: gray;
            }
          }

          .commentContents{
            margin-left: 20px;
            font-size: 15px;
          }
        }
      }

    }
  }

  .rightSideContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 auto;
    position: fixed;
    right: 0;
    top: 0;

    .hashtags{
      .hashtag {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid #e6e6e6;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: #f5f5f5;
        }
      }
    }
  }

  .postWriter {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 auto;
  
    position: fixed;
    left: 0;
    top: 0;
  
    .form {
      display: flex;
      flex-direction: column;
    }
  }

  .commentWriter {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 auto;
    background:rgb(240, 224, 224);
  
    position: fixed;
    left: 0;
    bottom: 100px;
  
    .form {
      display: flex;
      flex-direction: column;
    }
  }
}