.viewedPost{
  display: flex;
  flex-direction: row;
  // justify-content: space-between;

  .postLeftSideContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    margin: 0 auto;
    justify-self:flex-start;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid #e6e6e6;
    z-index: 1;

    background: white;

   .header {
      display: flex;
      flex-direction: column;
      justify-content:flex-end;
      align-items:flex-end;
      margin-bottom: 10px;
      width: 100%;
      border-bottom: 1px solid #e6e6e6;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: #f5f5f5;
      }

      h1 {
        font-size: 25px;
        margin-right: 10px;
      }
   }

    .userInfo {
      position: absolute;
      bottom: 10px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: right;

      &:hover {
        background-color: #f5f5f5;
      }
      
      .fullName {
        font-size: 15px;
        margin-right: 2px;
        font-weight: bold;

      }
      .username {
        font-size: 15px;
        color: gray;
        margin-right: 10px;
      }
    }

    .tweetButton {
      background-color: #c62828;
      border: none;
      border-radius: 50px;
      width: 80%;
      align-self: center;
      color: #ffffff;
      cursor: pointer;
      font-size: 1rem;
      margin-right: 1rem;
      padding: 0.5rem 1rem;
      transition: all 0.2s ease-in-out;
      margin-bottom: 10px;

      &:hover {
        background-color: #9b2020;
        color: black;
      }
    }

    .logoutButton {
      background-color: #ded2d2;
      border: none;
      border-radius: 50px;
      width: 80%;
      align-self: center;
      color: #ffffff;
      cursor: pointer;
      font-size: 1rem;
      margin-right: 1rem;
      padding: 0.5rem 1rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #c4bfbf;
        color: white;
      }
    }
  }

  .postMainContainer{
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    width: 80%;
    background-size: cover;
    height: 100vh;
    margin: 0 auto;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.1);
    border: none;

    .post {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
      width: 50%;
      margin: 0 auto;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      border:none;

      .arrowIcon {
        align-self: flex-start;
        margin-right: 10px;
        margin-top: 10px;
        cursor: pointer;
        scale: 1.2;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: #f5f5f5;
        }
      }

      .postHeader{
        display: flex;
        flex-direction:row;
        align-items: flex-start;
        margin-top: 20px;
        margin-bottom: 20px;

        p {
          font-size: 20px;
          font-weight:bold;
          margin: 0;
        }
        a {
          color: gray;
          align-self:center;
          font-size: 15px;
          margin: 2px;
          align-self:flex-start;
        }
      }

      .contents{
        .content{
          margin: 10px;
          padding: 10px;
         
          border-radius: 10px;
          text-align: left;
        }

        .date {
          color: gray;
          font-size: 15px;
          margin: 2px;
          text-align: left;
          
          
        }
      }

      .bottomBar{
        display: flex;
        margin-top: 10px;

        border: 1px solid #e6e6e6;
        border-radius: 50px;
        padding: 7px;
        padding-top: 2px;
        padding-bottom: 2px;

        .material-symbols-outlined {
          user-select: none;
          scale: 1.2;
          color:#e6e6e6;
          margin: 5px;

          &:hover {
            color:rgb(230, 204, 204)
          }
        }

        .heartContainer {
          .material-symbols-outlined {
            color: rgb(202, 88, 88);
          }
        }

        .unlikedContainer {
          .material-symbols-outlined {
            &:hover {
              color:rgb(230, 204, 204)
            }
          }
        }

      }

      .comments{
        padding-top: 10px;
        margin-top: 20px;
        border-top: 1px solid #e6e6e6;
        .comment {
          padding: 10px;
          border-bottom: 2px solid #e6e6e6;
          border-left: 2px solid #e6e6e6;
          border-right: 2px solid #e6e6e6;          
          text-align: left;

          .commentHeader {
            display: flex;
            .fullName {
              font-weight:bold;
              
            }
            .username { 
              font-weight: 300;
              margin-left: 5px;
              color: gray;
            }
          }

          .commentContents{
            margin-left: 20px;
            font-size: 15px;
          }
        }
      }

    }
  }

  .postRightSideContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    margin: 0 auto;
    position: fixed;
    right: 0;
    top: 0;
    border-left: 1px solid #e6e6e6;
    z-index: 1;

    background: white;

    h1 {
      font-size: 20px;
      margin-top: 10px;
    }

    .hashtags{
      .hashtag {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid #e6e6e6;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: #f5f5f5;
        }
      }
    }
  }

  .postWriter {
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 100%;
    background: none;
    backdrop-filter: blur(5px);

    .postWriterContainer {
      background: white;
      width: 30%;
      margin: 0 auto;
      margin-top: 90px;
      display: flex;
      flex-direction: column;
      border: 1px solid #e6e6e6;
      border-radius: 10px;
      transition: all 0.2s ease-in-out;


      .form {
        margin: 20px;
        width: 100%;

        .closeButton{
          position: absolute;
          right: 10px;
          top: 10px;
          cursor: pointer;
          user-select: none;
          border-radius: 50%;
          margin: 5px;
    
          &:hover {
            border: 1px solid #c9b1b1;
          }         
        }

        textarea {
          width: 85%;
          margin-right: 20px;
          height: 100px;
          border: none;
          border-bottom: 1px solid #e6e6e6;
          resize: none;
          font-size: 17px;
          padding: 10px;
          margin-bottom: 10px;
          transition: all 0.2s ease-in-out;
          &:focus {
            border-bottom: 1px solid #c62828;
          }
        }
      }

      .submitButtonContainer {
          display: flex;
          justify-content: flex-end;
          .submitButton {
            margin: 10px;
            width: 30%;
            padding: 10px;
            border-radius: 10px;
            border: none;
            background-color: #c62828;
            color: white;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            &:hover {
              background-color: #e6e6e6;
              color: black;
          }
        }
      }
    }
  }


  .commentWriter {
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 100%;
    background: none;
    backdrop-filter: blur(5px);

    .commentWriterContainer {
      background: white;
      width: 30%;
      margin: 0 auto;
      margin-top: 90px;
      display: flex;
      flex-direction: column;
      border: 1px solid #e6e6e6;
      border-radius: 10px;
      transition: all 0.2s ease-in-out;

        .form {
          margin: 20px;
          width: 100%;

          .closeButton{
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
            user-select: none;
            border-radius: 50%;
            margin: 5px;
      
            &:hover {
              border: 1px solid #c9b1b1;
            }
          }
          
          textarea {
            width: 85%;
            height: 100px;
            margin-right: 32px;
            border: none;
            resize: none;
            outline: none;
            padding: 10px;
            font-size: 17px;
            transition: all 0.2s ease-in-out;
            &:focus {
              border-bottom: 1px solid #c9b1b1;
            }
          }
        }
      .submitButtonContainer{
        display: flex;
        justify-content: flex-end;
        .submitButton {
          margin: 10px;
          width: 30%;
          padding: 10px;
          border-radius: 10px;
          border: none;
          background-color: #c62828;
          color: white;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          &:hover {
            background-color: #e6e6e6;
            color: black;
          }
        }
      }

    }
  }
}